@using CMS.DataEngine
@using Kentico.Xperience.ListingWidget.InlineEditors

@model OrderDirectionViewModel

@using (Html.Kentico().BeginInlineEditor("order-direction-editor", Model.PropertyName, new { @class = "listing-property-editor" }))
{
	<div class="listing-property-label order-direction-label">
		<label asp-for="@Model.Order" class="order-direction-label">Order:</label>
	</div>

	<form class="order-direction-radios listing-property-value">
		<label class="order-direction-option">
			<input asp-for="@Model.Order" type="radio" value="@OrderDirection.Ascending" />
			Ascending
		</label>
		<label class="order-direction-option">
			<input asp-for="@Model.Order" type="radio" value="@OrderDirection.Descending" />
			Descending
		</label>
	</form>
}