@using CMS.DataEngine
@using DancingGoat.InlineEditors

@model OrderDirectionViewModel

@using (Html.Kentico().BeginInlineEditor("order-direction-editor", Model.PropertyName, new { @class = "listing-property-editor" }))
{
	<div class="listing-property-label">
		<label asp-for="@Model.Direction" class="order-direction-label">@HtmlLocalizer["Order direction"].Value:</label>
	</div>

	<div class="order-direction-radios listing-property-value">
		@foreach(var option in Model.OrderDirectionOptions)
		{
			<label class="order-direction-option">
					<input asp-for="@Model.Direction" type="radio" value="@option" />
					@HtmlLocalizer[option.ToStringRepresentation()].Value
			</label>
		}
	</div>
}