@model DancingGoat.InlineEditors.DropDownEditorViewModel

@using (Html.Kentico().BeginInlineEditor("dropdown-editor", Model.PropertyName, new { @class = "listing-property-editor" }))
{
    var optionLabel = Model.Options.Any() ? HtmlLocalizer["Please select an option."].Value : HtmlLocalizer["No options are available."].Value;
    var dropdownLabel = HtmlLocalizer[Model.Label].Value + ':';

    <div class="listing-property-label" title="@Model.Tooltip">
        <label asp-for="@Model.SelectedOption">@dropdownLabel</label>
    </div>
    <div class="listing-property-value dropdown-value" @(Model.Reset ? "data-reset" : null)>
        <select asp-for="@Model.SelectedOption" asp-items="@Model.Options" class="dropdown-selector">
            <option value="">@optionLabel</option>
        </select>
        <div class="listing-property-tooltip">
            @if (!string.IsNullOrEmpty(Model.Tooltip))
            {
                <span class="icon-question-circle" title="@Model.Tooltip"></span>
            }
        </div>
    </div>
}