@using Kentico.Xperience.ListingWidget.InlineEditors
@using Kentico.Xperience.ListingWidget

@model ListingWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
    var dropDownEditorPath = "~/Components/InlineEditors/DropDownEditor/_DropDownEditor.cshtml";
    <div class="listing-inline-editor">
        <partial name="@dropDownEditorPath" model="@Model.InlineEditors.PageTypeEditor" />
        <partial name="@dropDownEditorPath" model="@Model.InlineEditors.TransformationEditor" />
        <vc:path-editor property-name="@nameof(ListingWidgetProperties.ParentPageAliasPath)" page-alias-path="@Model.SelectedValues.ParentPageAliasPath" />
		<partial name="~/Components/InlineEditors/TopNEditor/_TopNEditor.cshtml" model="@Model.InlineEditors.TopNEditor" />
        <partial name="@dropDownEditorPath" model="@Model.InlineEditors.OrderByFieldEditor" />
        <partial name="~/Components/InlineEditors/OrderDirectionEditor/_OrderDirectionEditor.cshtml" model="@Model.InlineEditors.OrderDirectionEditor" />
    </div>
}

 <vc:transformation model="@Model.SelectedValues"/>